@model WebApp.BLL.DTO.Product

@{
    ViewData["Title"] = WebApp.Resources.WebApp.Views.Products.Details.Title;
}

<section class="banner gradient pb-4 pt-4">
    <div class="row g-0">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <h3 class="fw-light m-auto">@Model.Name</h3>
        </div>
        <div class="col-2 pe-4">
            @if (User.IsInRole("Admin") || User.IsInRole("Seller"))
            {
                <a asp-action="Delete" asp-controller="Products" asp-route-id="@Model.Id" class="btn btn-light float-end">❌</a>
                <a asp-action="Edit" asp-controller="Products" asp-route-id="@Model.Id" class="btn btn-light float-end me-2">✏️</a>
            }
        </div>
    </div>
</section>
<br/>

<div class="row">
    <div class="col-5">
        <div id="pictures" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @if (Model.Pictures!.Count > 1)
                {
                    @for (var index = 0; index < Model.Pictures!.Count; index++)
                    {
                        <button type="button" data-bs-target="#pictures" data-bs-slide-to="@(index)" class="@(index == 0 ? "active" : "")"></button>
                    }
                }
            </div>
            <div class="carousel-inner">
                @if (Model.Pictures!.Count >= 1)
                {
                    var index = 0;
                    @foreach (var picture in Model.Pictures)
                    {
                        <div class="carousel-item @(index == 0 ? "active" : "")">
                            <img class="d-block w-100" src="@picture.Path" alt="">
                        </div>
                        index++;
                    }
                }
                else
                {
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/assets/placeholder.png" alt="">
                    </div>
                }
            </div>
            @if (Model.Pictures!.Count > 1)
            {
                <button class="carousel-control-prev" type="button" data-bs-target="#pictures" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#pictures" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            }
        </div>
    </div>
    <div class="col-7">
        <div class="row g-0 mb-3">
            <div class="col">
                <h3>@Model.Price.ToString("0.00")€</h3>
                <h6>@WebApp.Resources.WebApp.Views.Products.Details.InStock: @Model.Quantity</h6>
                <hr/>
                <span>
                    @Model.Description
                </span>

                <div class="row g-0 mt-3">
                    @if (Model.Quantity >= 1)
                    {
                        <form asp-action="AddEntry" asp-controller="Cart" class="row" id="add-to-cart">
                            <input type="hidden" id="ProductId" name="ProductId" value="@(Model.Id)" />
                            <input type="hidden" id="ProductName" name="ProductName" value="@(Model.Name)" />
                            <input type="hidden" id="ProductPrice" name="ProductPrice" value="@(Model.Price)" />
                            <input type="hidden" id="ProductQuantity" name="ProductQuantity" value="@(Model.Quantity)" />
                            
                            <input class="btn btn-dark col-auto" type="submit" value="@WebApp.Resources.WebApp.Views.Products.Details.AddToCart" />
                            
                            <input class="form-control col-auto ms-3 ps-2 w-auto" type="number" id="Quantity" name="Quantity" max="@(Model.Quantity)" min="1" step="1" value="1" />
                        </form>
                    }
                    else
                    {
                        <input class="btn btn-danger" type="button" value="@WebApp.Resources.WebApp.Views.Products.Details.OutOfStock" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    
}
