@model WebApp.Models.Products.Edit

@{
    ViewData["Title"] = WebApp.Resources.WebApp.Views.Products.Edit.Title;
}

<h1>@WebApp.Resources.WebApp.Views.Products.Edit.Title</h1>

<h4>@WebApp.Resources.WebApp.Views.Products.Edit.Product</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="NameId"/>
            <input type="hidden" asp-for="DescriptionId"/>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">@WebApp.Resources.WebApp.Views.Products.Edit.Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@WebApp.Resources.WebApp.Views.Products.Edit.Name</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@WebApp.Resources.WebApp.Views.Products.Edit.Description</label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">@WebApp.Resources.WebApp.Views.Products.Edit.Price</label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">@WebApp.Resources.WebApp.Views.Products.Edit.Quantity</label>
                <input asp-for="Quantity" class="form-control"/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sold" class="control-label">@WebApp.Resources.WebApp.Views.Products.Edit.Sold</label>
                <input asp-for="Sold" class="form-control"/>
                <span asp-validation-for="Sold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@WebApp.Resources.WebApp.Views.Products.Edit.Pictures:</label>
                <br/>

                @if (Model.Pictures != null && Model.Pictures.Count > 0)
                {
                    foreach (var picture in Model.Pictures)
                    {
                        <span>@picture.Path</span>
                        <a asp-controller="Pictures" asp-action="Delete" asp-route-id="@picture.Id">@WebApp.Resources.WebApp.Views.Products.Edit.Delete</a>
                        <br/>
                    }
                }
                else
                {
                    @WebApp.Resources.WebApp.Views.Products.Edit.None
                    <br/>
                }

                <a asp-controller="Pictures" asp-action="Create" asp-route-productId="@Model.Id" class="btn btn-success">@WebApp.Resources.WebApp.Views.Products.Edit.Add</a>
                <br/>
            </div>
            <div class="form-group">
                <input type="submit" value="@WebApp.Resources.WebApp.Views.Products.Edit.Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@WebApp.Resources.WebApp.Views.Products.Edit.BackToList</a>
</div>