@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = @Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.EnableAuthenticator.ConfigureAuthenticatorApp;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>@Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.EnableAuthenticator.ToUseAuthenticatorApp</p>
    <ol class="list">
        <li>
            <p>
                @Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.EnableAuthenticator.HowToGetAuthenticatorApp
            </p>
        </li>
        <li>
            <p>@Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.EnableAuthenticator.ScanTheQRCode<kbd>@Model.SharedKey</kbd>@Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.EnableAuthenticator.IntoAuthenticatorApp</p>
            <div class="alert alert-info">@Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.EnableAuthenticator.LearnHowTo</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                @Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.EnableAuthenticator.OnceYouHaveScanned
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.VerificationCode" class="control-label">@Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.EnableAuthenticator.VerificationCode</label>
                            <input asp-for="Input.VerificationCode" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.VerificationCode" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">@Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.EnableAuthenticator.Verify</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
