@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = @Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.ResetAuthenticator.ResetAuthenticatorKeyTitle;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.ResetAuthenticator.IfYouResetAuthenticatorKey</strong>
    </p>
    <p>
        @Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.ResetAuthenticator.ThisProcessDisables2FA
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">@Base.Resources.WebApp.Areas.Identity.Pages.Account.Manage.ResetAuthenticator.ResetAuthenticatorKeySubmit</button>
    </form>
</div>