@page
@model LoginModel

@{
    ViewData["Title"] = Base.Resources.WebApp.Areas.Identity.Pages.Account.Login.LogIn;
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h1>@Base.Resources.WebApp.Areas.Identity.Pages.Account.Login.LogIn</h1>
                <h4>@Base.Resources.WebApp.Areas.Identity.Pages.Account.Login.UseLocalAccount</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@Base.Resources.WebApp.Areas.Identity.Pages.Account.Login.LogIn</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword" id="forgot-password">@Base.Resources.WebApp.Areas.Identity.Pages.Account.Login.ForgotPassword</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" id="register">@Base.Resources.WebApp.Areas.Identity.Pages.Account.Login.RegisterNewUser</a>
                    </p>
                    <p>
                        <a asp-page="./ResendEmailConfirmation" id="resend-confirmation">@Base.Resources.WebApp.Areas.Identity.Pages.Account.Login.ResendEmail</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
