@model WebApp.Models.Pictures.Create

@{
    ViewData["Title"] = WebApp.Resources.WebApp.Views.Pictures.Create.Title;
}

<h1>@WebApp.Resources.WebApp.Views.Pictures.Create.Title</h1>

<h4>@WebApp.Resources.WebApp.Views.Pictures.Create.Picture</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
            
            <div class="form-group">
                <label asp-for="Path" class="control-label">@WebApp.Resources.WebApp.Views.Pictures.Create.Path</label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@WebApp.Resources.WebApp.Views.Pictures.Create.Title" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.ProductId">@WebApp.Resources.WebApp.Views.Pictures.Create.Cancel</a>
</div>
