@model WebApp.BLL.DTO.Status

@{
    ViewData["Title"] = WebApp.Resources.WebApp.Views.Statuses.Edit.Title;
}

<h1>@WebApp.Resources.WebApp.Views.Statuses.Edit.Title</h1>

<h4>@WebApp.Resources.WebApp.Views.Statuses.Edit.Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="NameId" />
            
            <div class="form-group">
                <label asp-for="Name" class="control-label">@WebApp.Resources.WebApp.Views.Statuses.Edit.Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@WebApp.Resources.WebApp.Views.Statuses.Edit.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@WebApp.Resources.WebApp.Views.Statuses.Edit.BackToList</a>
</div>
