@model WebApp.Models.Transactions.Create

@{
    ViewData["Title"] = WebApp.Resources.WebApp.Views.Transactions.Create.Title;
}

<h1>@WebApp.Resources.WebApp.Views.Transactions.Create.Title</h1>

<h4>@WebApp.Resources.WebApp.Views.Transactions.Create.Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label">@WebApp.Resources.WebApp.Views.Transactions.Create.Order</label>
                <select asp-for="OrderId" class ="form-control" asp-items="Model.Orders"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">@WebApp.Resources.WebApp.Views.Transactions.Create.Amount</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@WebApp.Resources.WebApp.Views.Transactions.Create.Title" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@WebApp.Resources.WebApp.Views.Transactions.Create.BackToList</a>
</div>
