@model WebApp.BLL.DTO.Category

@{
    ViewData["Title"] = WebApp.Resources.WebApp.Views.Categories.Details.Title;
}

<h1>@WebApp.Resources.WebApp.Views.Categories.Details.Title</h1>

<div>
    <h4>@WebApp.Resources.WebApp.Views.Categories.Details.Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @WebApp.Resources.WebApp.Views.Categories.Details.Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@WebApp.Resources.WebApp.Views.Categories.Details.Edit</a> |
    <a asp-action="Index">@WebApp.Resources.WebApp.Views.Categories.Details.BackToList</a>
</div>
