@model IEnumerable<WebApp.BLL.DTO.Category>

@{
    ViewData["Title"] = WebApp.Resources.WebApp.Views.Categories.Index.Title;
}

<h1>@WebApp.Resources.WebApp.Views.Categories.Index.Title</h1>

<p>
    <a asp-action="Create">@WebApp.Resources.WebApp.Views.Categories.Index.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @WebApp.Resources.WebApp.Views.Categories.Index.Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@WebApp.Resources.WebApp.Views.Categories.Index.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@WebApp.Resources.WebApp.Views.Categories.Index.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@WebApp.Resources.WebApp.Views.Categories.Index.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
