@model IEnumerable<WebApp.BLL.DTO.Provider>

@{
    ViewData["Title"] = WebApp.Resources.WebApp.Views.Providers.Index.Title;
}

<h1>@WebApp.Resources.WebApp.Views.Providers.Index.Title</h1>

<p>
    <a asp-action="Create">@WebApp.Resources.WebApp.Views.Providers.Index.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @WebApp.Resources.WebApp.Views.Providers.Index.Name
            </th>
            <th>
                @WebApp.Resources.WebApp.Views.Providers.Index.Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var provider in Model) {
        <tr>
            <td>
                @provider.Name
            </td>
            <td>
                @provider.Price.ToString("0.00")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@provider.Id">@WebApp.Resources.WebApp.Views.Providers.Index.Edit</a> |
                <a asp-action="Details" asp-route-id="@provider.Id">@WebApp.Resources.WebApp.Views.Providers.Index.Details</a> |
                <a asp-action="Delete" asp-route-id="@provider.Id">@WebApp.Resources.WebApp.Views.Providers.Index.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
