@using System.Text.Json
@{
    ViewData["Title"] = WebApp.Resources.WebApp.Views.Cart.Index.Cart;
}

<section class="banner gradient pb-4 pt-4">
    <div class="container">
        <div class="row text-center">
            <h3 class="fw-light m-auto">@WebApp.Resources.WebApp.Views.Cart.Index.Cart.ToUpper()</h3>
        </div>
    </div>
</section>
<br/>

@{
    WebApp.BLL.DTO.Checkout.Cart? cart = null!;
    if (Context.Request.Cookies["Cart"] != null)
    {
        cart = JsonSerializer.Deserialize<WebApp.BLL.DTO.Checkout.Cart>(Context.Request.Cookies["Cart"]!);
    }
    
    @if (cart == null || cart.Entries.Count <= 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="col-12 text-center">
                        <img src="/assets/shopping-cart.svg" class="cart-image mb-4 me-3" alt="">
                        <h3>
                            <strong>@WebApp.Resources.WebApp.Views.Cart.Index.YourCartIsEmpty</strong>
                        </h3>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-dark m-3">@WebApp.Resources.WebApp.Views.Cart.Index.ContinueShopping</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th class="col-7">@WebApp.Resources.WebApp.Views.Cart.Index.Product</th>
                <th class="col-2 text-center">@WebApp.Resources.WebApp.Views.Cart.Index.Quantity</th>
                <th class="col-1 text-center">@WebApp.Resources.WebApp.Views.Cart.Index.Price</th>
                <th class="col-1 text-center">@WebApp.Resources.WebApp.Views.Cart.Index.Total</th>
                <th class="col-1 text-center"></th>
            </tr>
            </thead>
            <tbody>

            @foreach (var entry in cart.Entries)
            {
                <tr class="d-flex">
                    <td class="col-7">@entry.ProductName</td>
                    <td class="col-2 text-center">
                        <form asp-action="ChangeEntry" class="d-inline">
                            <input type="hidden" id="ProductId" name="ProductId" value="@(entry.ProductId)"/>
                            <input type="hidden" id="ProductName" name="ProductName" value="@(entry.ProductName)"/>
                            <input type="hidden" id="ProductPrice" name="ProductPrice" value="@(entry.ProductPrice)"/>
                            <input type="hidden" id="ProductQuantity" name="ProductQuantity" value="@(entry.ProductQuantity)"/>
                            <input type="hidden" id="Quantity" name="Quantity" value="-1"/>
                            <input type="hidden" id="Total" name="Total" value="@(entry.ProductPrice * (entry.Quantity - 1))"/>

                            <input type="image" src="assets/minus-circle-fill.svg" alt=""/>
                        </form>
                        <span class="d-inline ms-2 me-2">@entry.Quantity</span>
                        <form asp-action="ChangeEntry" class="d-inline">
                            <input type="hidden" id="ProductId" name="ProductId" value="@(entry.ProductId)"/>
                            <input type="hidden" id="ProductName" name="ProductName" value="@(entry.ProductName)"/>
                            <input type="hidden" id="ProductPrice" name="ProductPrice" value="@(entry.ProductPrice)"/>
                            <input type="hidden" id="ProductQuantity" name="ProductQuantity" value="@(entry.ProductQuantity)"/>
                            <input type="hidden" id="Quantity" name="Quantity" value="+1"/>
                            <input type="hidden" id="Total" name="Total" value="@(entry.ProductPrice * (entry.Quantity + 1))"/>

                            <input type="image" src="assets/plus-circle-fill.svg" alt=""/>
                        </form>
                    </td>
                    <td class="col-1 text-center">@entry.ProductPrice.ToString("0.00")€</td>
                    <td class="col-1 text-center">@entry.Total.ToString("0.00")€</td>
                    <td class="col-1 form-inline text-center">
                        <form asp-action="RemoveEntry" class="form-inline">
                            <input type="hidden" id="ProductId" name="ProductId" value="@(entry.ProductId)"/>

                            <input type="image" src="assets/x-circle-fill.svg" alt=""/>
                        </form>
                    </td>
                </tr>
            }
            <tr class="d-flex">
                <td class="col-7">
                    <strong>@WebApp.Resources.WebApp.Views.Cart.Index.Subtotal</strong>
                </td>
                <td class="col-2"></td>
                <td class="col-1"></td>
                <td class="col-1 text-center">@(cart.Entries.Sum(entry => entry.Total).ToString("0.00"))€</td>
                <td class="col-1"></td>
            </tr>
            </tbody>
        </table>
        <br/>

        <div class="row g-0">
            <div class="col-5"></div>
            <div class="col-2 text-center">
                <a asp-action="Shipping" class="btn btn-dark">@WebApp.Resources.WebApp.Views.Cart.Index.ChooseShipping</a>
            </div>
            <div class="col-5"></div>
        </div>
    }
}